@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');

/*webage reset*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-size: cover;
}

/*h1{
	color: #158DF0;
	font-size: 10px;
}*/



/*#weatherPic {
	padding-right: 5px;
	padding-top: 5px;
	margin-left: 20px;
	color: white;
	font-size: 1em;
}
*/

#currentDegree {
	padding-right: 25px;
	padding-top: 25px;
	margin-left: 25px;
	color: white;
	font-size: 1.8em;
	font-family: "Yantramanav", sans-serif;
}

#weather {
	padding-right: 25px;
	margin-left: 25px;
	color: white;
	font-size: 1.1em;
	/* font-family: 'Anton', sans-serif; */
	opacity: 0.7;
	margin-bottom: 9%;
	font-family: "Yantramanav", sans-serif;
}


.intro {
	height: 100%; 
	width: 100%;
	margin: auto;
	display: table;
	top: 0;
	background-size: cover;
}


.inner {
	/*background: url("https://images.unsplash.com/photo-1498248529262-f5084e1d0d36?dpr=1&auto=compress,format&fit=crop&w=2700&h=&q=80&cs=tinysrgb&crop=");*/ 
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
}

.intro .inner {
	display: table-cell;
/*	vertical-align: middle;*/
	width: 100%;
	max-width: none;

}

.content {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
/*	padding-bottom: 15%;*/
}


#clock {
	font-family: "Yantramanav", sans-serif;
	font-size: 700%;
	font-weight: 400;
	color: white;
	line-height: 70%;
	text-shadow: 5px 5px 100px #535456;
}

.work {
	font-family: "Yantramanav", sans-serif;
	font-size: 200%;
	font-weight: 700;
	color: white;
	line-height: 3;
	text-shadow: 5px 5px 100px #535456;
}


#quotes{
	/* margin-left: -210px; */
	text-align: center;
	color: white;
	margin-top: 10px;
	opacity: 0.8;
	font-family: "Yantramanav", sans-serif;
	font-size: 1.2em;
}

#buttons {
	margin-top: 25%;
}

/* WHY YOU'RE HERE MODULE */
/*html.modal-active, body.modal-active {
	overflow: hidden;
  }
.modal1{
	background-color:cadetblue;
}
*/
/*  #modal-container {
	position: fixed;
	display: table;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transform: scale(0);
	z-index: 1;
  }

  #modal-container.one {
	transform: scaleY(0.01) scaleX(0);
	animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
	transform: scale(0);
	animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
	transform: scale(1);
	animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
	animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  #modal-container .modal-background {
	display: table-cell;
	background: rgba(0, 0, 0, 0.8);
	text-align: center;
	vertical-align: middle;
  }
  #modal-container .modal-background .modal {
	background: white;
	padding: 50px;
	display: inline-block;
	border-radius: 3px;
	font-weight: 300;
	position: relative;
  }
  #modal-container .modal-background .modal h2 {
	font-size: 25px;
	line-height: 25px;
	margin-bottom: 15px;
  }
  #modal-container .modal-background .modal p {
	font-size: 18px;
	line-height: 22px;
  }
  #modal-container .modal-background .modal .modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
	stroke: #fff;
	stroke-width: 2px;
	stroke-dasharray: 778;
	stroke-dashoffset: 778;
  }*/

/*  .content1 h1 {
	font-size: 30px;
	font-family: "Yantramanav", sans-serif;
	color: #E1EFE9;
	text-shadow: 2px 2px 30px #535456;
	margin-left: 20px;
  }

  .content1 .buttons {
	max-width: 800px;
	padding: 0;
	text-align: center;
  }*/

/*  .content1 .buttons .button {
	display: inline-block;
	text-align: center;
	padding: 10px 15px;
	margin-left: -410px;
	font-size: 18px;
	color: white;
	background-color: #009bd5;;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
  }*/

 /* .content1 .buttons .button:hover {
	color: white;
	background: cadetblue;
  }*/
/*  
  @keyframes unfoldIn {
	0% {
	  transform: scaleY(0.005) scaleX(0);
	}
	50% {
	  transform: scaleY(0.005) scaleX(1);
	}
	100% {
	  transform: scaleY(1) scaleX(1);
	}
  }
  @keyframes unfoldOut {
	0% {
	  transform: scaleY(1) scaleX(1);
	}
	50% {
	  transform: scaleY(0.005) scaleX(1);
	}
	100% {
	  transform: scaleY(0.005) scaleX(0);
	}*/
/* module 2 end */


/*--- Media Queries --*/
@media screen and (max-width: 900px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
	
}